
.item1 {
  grid-area: a;

  justify-self: center;

}

.check-space{
  margin-right: 10px;
}

.item2 {
  grid-area: b;
 
  justify-self: center;
  align-items: center

}

.item3 {
  grid-area: c;
 
  justify-self: center;
  align-items: center;

}



.sub-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sub {
  margin: 5px;
  width: 80px;
  overflow: hidden;
}
.sub-title {
    font-weight: bold;
  }

  .sub-details {
    
    margin-bottom: 0.5rem;
    }
  



/*Changed deck-style to shade of white --what classes background is*/




/* #logout-button {
  background-color: purple;
  color: white;
  border: none;
  padding: 5px 10px;
}

#logout-button[disabled] {
  background-color: lightgray;
  color: purple;
} */

.initial-padding {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
}

.center {
  padding:25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10px
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: auto;
  padding: 30px 75px 30px 75px;
}

.write-center {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  margin: auto;
  padding: 10px 50px 10px 50px;
}

.logout-button {
  background-color: black;
  color: black;
  border: black;
  padding: 5px 10px;
  vertical-align: text-top;
}

#logout-button[disabled] {
  background-color: gray;
  color: black;
  vertical-align: text-top;
} */



/* Style page content */
.main {
  margin-left: 0px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.sidebar {

  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: flex;
  position: relative;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
} 


.navbar {
  color: black;
  background-color:#90EE90;
  height: 50px;
  align-items: center;

  justify-content: center;
  padding: 10px;
  border-radius:5px;

  margin: auto
}



.klass-card-deck-style {
  justify-content: center;
  display: flex;
  flex-direction: 'row';
  background-color:#0B0B45;

}

.klass-card-style {
  text-decoration: none !important;
  flex: 1;
  max-width: 30%;

}

/*Changes text of the classes under My Classes
  a:link also changes the dropdown menu for Seating Charts
*/

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: underline;
}

/* Controls seating chart width */

.card-sc-width {
  width: 100px;
  margin-top: 20px;
} 

/*Changed card-body to shade of white*/

.card-body {
  background: paleturquoise;
  margin: 0;
  padding-left: 0;
  padding-right: 0;

}

/*changes the text of the seating chart names*/

.card-text{
  color: skyblue;
  
}

/*NavBar Color changed to lighter black*/



.navBar-nav{
  background-color: yellow;
}

/* p {
  color:black;
} */

/* .brand-fontColor{
  color: white;
}
 */

/*Block next to My Classes and the School /Change School Text */

/* .center-vertically {
  background-color:#141414;
  color:white;
} */

/*The 'My Classes' text block*/

.block-header {
  font-size: 1.5rem;
  font-family: 'Luxurious Roman', sans-serif;
  background-color:#0B0B45;
  color:black;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.2px;
}

.ce-chat-list {
  background-color: rgb(240, 240, 240) !important;
}

.ce-chats-container {
  background-color: rgb(240, 240, 240) !important;
}

.ce-active-chat-card {
  background-color: #cabcdc !important;
  border: 4px solid #cabcdc !important;
  border-radius: 0px !important;
}

.ce-chat-subtitle-text {
  color: #595959 !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: #7554a0 !important;
  position: relative;
  bottom: 5px;
}

.ce-send-message-button {
  text-align: center !important;
}


.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: rgb(240, 240, 240) !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

/* CUSTOM FEED */

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: rgb(240, 240, 240);
}

.chat-title-container {
  width: calc(100% - 36px);
  padding: 18px;
  text-align: center;
}

.chat-title {
  color: #7554a0;
  font-weight: 800;
  font-size: 24px;
}

.chat-subtitle {
  color: #7554a0;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
}

.message-image {
  margin-right: 18px;
  object-fit: cover;
  border-radius: 6px;
  height: 30vw;
  /* width: 30vw; */
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 36px);
  padding: 18px;
  background-color: rgb(240, 240, 240);
}

.message-form {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #3b2a50;
  background-color: white;
}

.message-input {
  height: 40px;
  width: calc(100% - 132px);
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  outline: none;
  font-size: 15px;
}

.image-button {
  cursor: pointer;
  padding: 0px 12px;
  height: 100%;
}

.send-button {
  height: 42px;
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  cursor: pointer;
}

.send-icon {
  top: 1px;
  position: relative;
  transform: rotate(-90deg);
}

.picture-icon {
  top: 1px;
  position: relative;
  font-size: 14px;
}

/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
}

.wrapper {
  height: 100vh;
	width: 100%;
  background: rgb(117,84,160);
  background: linear-gradient(90deg, rgba(117,84,160,1) 7%, rgba(117,84,160,1) 17%, rgba(106,95,168,1) 29%, rgba(99,103,174,1) 44%, rgba(87,116,184,1) 66%, rgba(70,135,198,1) 83%, rgba(44,163,219,1) 96%, rgba(22,188,237,1) 100%, rgba(0,212,255,1) 100%);  
  display: flex;
  justify-content: center;
  align-items: center;
}



.form {
  width: 400px;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.3em;;
}

