.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  grid-auto-rows: 70px;
  grid-template-areas:
    "a a"
    "b b"
    "b b"
    "c c"
    "c c"

}
.item1 {
  grid-area: a;

  justify-self: center;

}

.check-space{
  margin-right: 10px;
}

.item2 {
  grid-area: b;
 
  justify-self: center;
  align-items: center

}

.item3 {
  grid-area: c;
 
  justify-self: center;
  align-items: center;

}



.sub-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sub {
  margin: 10px;
  width: 100px;
  overflow: hidden;
}
.sub-title {
    font-weight: bold;
  }

  .sub-details {
    margin-bottom: 1rem;
    margin-bottom: 0.5rem;
    }
  



/*Changed deck-style to shade of white --what classes background is*/




/* #logout-button {
  background-color: purple;
  color: white;
  border: none;
  padding: 5px 10px;
}

#logout-button[disabled] {
  background-color: lightgray;
  color: purple;
} */

.initial-padding {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 15px
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: auto;
  padding: 30px 75px 30px 75px;
}

.write-center {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  margin: auto;
  padding: 10px 50px 10px 50px;
}

.logout-button {
  background-color: black;
  color: black;
  border: black;
  padding: 5px 10px;
  vertical-align: text-top;
}

#logout-button[disabled] {
  background-color: gray;
  color: black;
  vertical-align: text-top;
} */



/* Style page content */
.main {
  margin-left: 0px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.sidebar {

  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: flex;
  position: relative;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
} 


.navbar {
  color: black;
  background-color:#90EE90;
  height: 60px;
  align-items: center;

  justify-content: center;
  padding: 10px;
  border-radius:5px;

  margin: auto
}



.klass-card-deck-style {
  justify-content: center;
  display: flex;
  flex-direction: 'row';
  background-color:#0B0B45;

}

.klass-card-style {
  text-decoration: none !important;
  flex: 1;
  max-width: 30%;

}

/*Changes text of the classes under My Classes
  a:link also changes the dropdown menu for Seating Charts
*/

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: underline;
}

/* Controls seating chart width */

.card-sc-width {
  width: 100px;
  margin-top: 20px;
} 

/*Changed card-body to shade of white*/

.card-body {
  background: paleturquoise;
  margin: 0;
  padding-left: 0;
  padding-right: 0;

}

/*changes the text of the seating chart names*/

.card-text{
  color: skyblue;
}

/*NavBar Color changed to lighter black*/



.navBar-nav{
  background-color: yellow;
}

/* p {
  color:black;
} */

/* .brand-fontColor{
  color: white;
}
 */

/*Block next to My Classes and the School /Change School Text */

/* .center-vertically {
  background-color:#141414;
  color:white;
} */

/*The 'My Classes' text block*/

.block-header {
  font-size: 1.5rem;
  font-family: 'Luxurious Roman', sans-serif;
  background-color:#0B0B45;
  color:black;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

