/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Maven+Pro:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: 'Maven Pro', sans-serif !important;
}





